@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer|Oswald:300,400,500,600|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Federant|Libre+Baskerville&display=swap');

@media screen and (max-width: 615px) {
    .yrp-box {
        display: none;
    }
}

section{
    padding-top: 3rem;
}

h1{
    font-family: 'Lacquer', sans-serif;
}

p{
    margin: 0px;
}

.nav-default{
    background-color: rgba(173, 7, 29, 0.972);
}

.nav-text-style a{
    color: rgb(255, 255, 255)!important;
    font-family: 'Libre Baskerville';
}

.nav-text-style a:hover{
    color: #e68a00!important;
}

#section-newletter{
    padding-top: 6rem;
}

/* Jumbotron */

.jumbotron{
    background-image: linear-gradient(rgba(10, 10, 10, 0.63), rgba(10, 10, 10, 0.63)), url(/www/yourmusicpage/img/background-3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.middle-background-img{
    background-image: url(/www/yourmusicpage/img/background-2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 70vh;
}

.yrp-box{
    height: 175px;
}

.this-text-style-top p{
    font-family: 'Titillium', sans-serif;
}

.top-text-special {
    text-shadow: 2px 2px 3px #000000;
    color: #e68a00;
    font-weight: bold;
}

.my-hover:hover{
    font-size: 99px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.904), 0 0 10px rgba(0, 0, 0, 0.89);
}

.my-hover{
    transition: all 1.2s; 
}

.music-is-everything {
    font-weight: bold;
    font-size: 4.1rem;
    color: rgba(173, 7, 29, 0.972);
    text-shadow: 0.3px 0.3px 0.3px #fbd59cc4;
}

.free-beat-text{
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.972);
    font-weight: bold;
}

/* More/Less */
.complete{
    display:none;
}

.more{
    background:rgba(202, 206, 255, 0.100);
    color:rgba(18, 18, 19, 0.835);
    font-size: 18px;
    padding: 3px;
    cursor:pointer;
}
/* ----- */

a:hover {
	color: #e68a00;
}

a{
	color: rgb(0, 0, 0)
}

#header h2 {
	color: white;
	background-color: #00A1E6;
	margin:0px;
	padding: 5px;
}

/* Text font style */

.name-text-style{
    font-family: 'Oswald';
    font-weight: 400;
}

.name-text-style-bold{
    font-size: x-large;
    font-family: 'Oswald';
    font-weight: 500;
}

.warning-expensive{
    color: red;
    font-weight: bold;
}

.text-style{
    font-family: 'Libre Baskerville';
}

.text-style-bold{
    font-family: 'Libre Baskerville';
    font-weight: bold;
    font-size: 1.3rem ;
}

.text-style-bold:hover{
    font-family: 'Libre Baskerville';
    font-weight: bold;
    font-size: 1.3rem ;
    color: rgb(0, 0, 0);
}

.text-style-bold-fed{
    font-weight: bold;
    font-family: 'Federant', ;
    color: #ffffff;
}
/* ---- */

.box-shadow:hover{
    box-shadow: 2px 2px 4px 2px rgba(73, 73, 73, 0.089), 0px 6px 15px 0px rgba(49, 49, 49, 0.19);
}

/* footer */

/* REGISTRATION */

.text-style-bold-r{
    font-family: 'Libre Baskerville';
    font-weight: bold;
    font-size: 1.0rem ;
}

